#about {
  box-sizing: border-box;
  height: 100vh;
  padding-top: 8%;
  margin-bottom: 5%;
}
.about {
  margin-top: 5%;
}
.about-text {
  font-size: 23px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: italic;
  text-align: justify;
  margin-bottom: 2%;
}
.about-title {
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 1%;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content-list {
  width: 70%;
  text-align: justify;
}
.about-content-list li {
  font-size: 23px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 2%;
  list-style: none;
}
.about-content-list li::before {
  content: " ✓";
  margin-right: 2%;
}
.about-img {
  width: 30%;
  text-align: end;
  margin-top: -3%;
}
.about-img img {
  width: 70%;
  border-width: 0 8px 8px 0;
  padding: 0 5% 5% 0;
  border-style: solid;
  border-image: linear-gradient(
      -20deg,
      rgba(162, 181, 223, 1) 22%,
      rgb(81 141 237) 100%
    )
    1;
}

@media (min-width: 0px) and (max-width: 480px) {
  #about {
    height: auto;
    padding-top: 30%;
  }
  .about {
    margin-top: 5%;
  }
  .about-text {
    font-size: 20px;
  }
  .about-title {
    font-size: 24px;
    margin: 5%;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content-list {
    width: 100%;
  }
  .about-content-list li {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 5%;
  }
  .about-img {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #about {
    height: auto;
    padding-top: 25%;
    padding-bottom: 5%;
  }
  .about {
    margin-top: 5%;
  }
  .about-text {
    font-size: 20px;
  }
  .about-title {
    font-size: 24px;
    margin: 3%;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content-list {
    width: 100%;
  }
  .about-content-list li {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 3%;
  }
  .about-img {
    width: 70%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #about {
    height: auto;
    padding-top: 20%;
    padding-bottom: 5%;
  }
  .about {
    margin-top: 5%;
  }
  .about-text {
    font-size: 20px;
  }
  .about-title {
    font-size: 24px;
    margin: 3%;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content-list {
    width: 100%;
  }
  .about-content-list li {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 3%;
  }

  .about-img {
    width: 70%;
  }
}

@media (min-width: 993px) and (max-width: 1300px) {
  .about {
    margin-top: 5%;
  }
  .about-text {
    font-size: 20px;
  }
  .about-title {
    font-size: 24px;
    margin: 3%;
  }
  .about-content-list {
    width: 60%;
  }
  .about-img {
    width: 40%;
  }
  .about-content-list li {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 3%;
  }
}

/* @media (min-width: 1100px) and (max-width: 1300px) {
  .about-img{
    width: 40%;
  }
  .about-content-list{
    width: 60%;
  }
} */

/* @media (min-width: 1461px) and (max-width: 1700px) {
  .about-text {
    width: 60%;
  }

} */
