.social {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-right: 25px;
  font-weight: 600;
}
.tel a {
  display: block;
  text-decoration: none;
  color: black;
}
.socials {
  display: flex;
  align-items: center;
}
.social img {
  filter: invert(100%);
}
.socials img {
  width: 30px;
  fill: black;
}
.social:last-child {
  margin-right: 0;
}

@media (min-width: 0px) and (max-width: 480px) {
  .socials {
    display: flex;
    flex-direction: column;
  }
  .social {
    margin-right: 25px;
  }
  .tel a {
    margin-bottom: 5%;
  }
}
