#contact{
    position: relative;
    box-sizing: border-box;
    padding: 7% 10% 5% 10%;
    /* background-color : #f0f0f0; */

    border-image: fill 1 linear-gradient(-20deg, rgba(162,181,223,0.5) 22%, rgba(63, 131, 241, 0.4) 100%);
    background-image: url('../../img/image_processing20210903-8670-12c1naf.gif') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
     background-size: 450px;
background-repeat: no-repeat;
background-position: 95% 50%;

    /* background: linear-gradient(-20deg, rgba(162,181,223,0.5) 22%, rgba(63, 131, 241, 0.4) 100%); */
    border-radius: 20% 20% 0 0 ;
    /* background-image: url('../../img/image_processing20210903-8670-12c1naf.gif' no-repead); */
}

.circle{
    background: linear-gradient(-20deg, rgba(162,181,223,0.5) 22%, rgba(35, 88, 172, 0.4) 100%);
   width: 500px;
   left: -15%;
   bottom: 0;
   height: 500px;
   border-radius: 50%;
   position: absolute;
}

.dot3{
    position: absolute;
    width: 14%;
    top: -17%;
    right: -5%;
}
.dot4{
    position: absolute;
    width: 14%;
    bottom: 3%;
    left: -5%;
}
.form {
    text-align: center;
	width: 30%;
	margin: 5em auto;
	padding: 5%;
    background: linear-gradient(-20deg, rgba(162,181,223,0.5) 22%, rgb(81, 141, 237, 0.4) 100%);
	box-shadow: rgba(0,0,0,0.3) 2px 3px 15px 5px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input, textarea {
    font-family:'Roboto';
	font-size: 20px;
	padding: 10px 10px 10px 5px;
	/* -webkit-appearance: none; */
	display: block;
	background: transparent;
	color: #2d2c2c;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }
textarea:focus { outline: none; }
/* Label */

label {
	color: #5a5959; 
	font-size: 20px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}

/* active */

input:focus ~ label, input.used ~ label,
textarea:focus ~ label, textarea.used ~ label{
	top: -25px;
  transform: scale(.75); left: -2px;
	color: #4a89dc;
    font-size: 26px;
}

/* Прозрачный фон при автозаполнении */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}


.required{
  color: red;
}
.error{
  color: red;
  text-align: end;
}

.modal-success,
.modal-error  {
  background-color: #0b234990;
  padding-top: 25%;
  display: flex;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 10;
  color: white;
 font-size: 36px;
}

.success-content,
.error-content {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}
.success-icon,
.error-icon{
  margin-right: 2%;
}
.success-icon img,
.error-icon img{
  width: 80px;
  margin-right: 5%;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 103%;
}

.bar:before, .bar:after {
	content: '';
	height: 3px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { 
    width: 50%; 
}

textarea:focus ~ .bar:before, textarea:focus ~ .bar:after { width: 50%; }

/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.button-submit {
  background: linear-gradient(-20deg, rgba(162,181,223,1) 22%, rgb(81, 141, 237) 100%);
border-radius: 10px;
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    border: none;
  }
  
  .button-submit:hover {
    background: #2e73e3dc;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  


@media (min-width: 0px) and (max-width: 480px) {
 
    #contact{
        height: auto;
        padding-top: 30%;
        background-size: 200px;
        background-position: 50% 100%;
    }
    
    .contact-content{
        width: 100%;
        margin: 15% 0;
    }
    
    .form {
      text-align: center;
      width: 86%;
      margin-bottom: 50%;
      padding: 10% 6%;
      margin-top: 25%;
    }
    label {
      font-size: 17px;
    }
   input, textarea {
       width: 95%;
    }
    .button-submit {
      width: 80%;
      margin: 0 auto;
      font-size: 16px;
      letter-spacing: 1px;
    }
    input:focus ~ label, input.used ~ label,
textarea:focus ~ label, textarea.used ~ label{
    font-size: 24px;
}

.modal-success,
.modal-error  {
  padding-top: 50%;
 font-size: 25px;
}

.success-content,
.error-content {
flex-direction: column;
  width: 70%;
}
.success-icon img,
.error-icon img{
  width: 70px;
  margin-right: 1%;
}

    .dot3{
      width: 30%;
      right: -20%;
  }
  .dot4{
      width: 30%;
      left: -13%;
      bottom: 1%;
  }
 }  
 @media (min-width: 481px)  and (max-width: 576px) {
 
  #contact{
    height: auto;
    padding-top: 25%;
    background-size: 300px;
    background-position: 50% 100%;
}
    .contact-content{
        width: 100%;
        margin: 15% 0;
    }
    
    .form {
      text-align: center;
      width: 80%;
      margin-bottom: 50%;
      padding: 5%;

    }
    
   input, textarea {
       width: 95%;
    }
    .modal-success,
.modal-error  {
  padding-top: 50%;
 font-size: 25px;
}

.success-content,
.error-content {
/* flex-direction: column; */
  width: 70%;
}
.success-icon img,
.error-icon img{
  width: 70px;
  margin-right: 1%;
}
    .button-submit {
      width: 75%;
      margin: 0 auto;
    }
    .dot3{
      width: 30%;
      right: -20%;
  }
  .dot4{
      width: 30%;
      left: -10%;
      bottom: 2%;
  }


 } 
 @media (min-width: 577px)  and (max-width: 850px) {
 
    #contact{
      height: auto;
      padding-top: 20%;
      background-size: 300px;
      background-position: 50% 100%;
    }
    .contact-content{
        width: 80%;
        margin: 15% auto;
    }
    
    .form {
      text-align: center;
      width: 60%;
      margin-bottom: 38%;
      padding: 5%;

    }
    input, textarea {
      width: 95%;
   }
   .button-submit {
     width: 80%;
     letter-spacing: 0.5px;
     margin: 5% auto;
   }
   .modal-success,
   .modal-error  {
     padding-top: 40%;
    font-size: 30px;
   }
   .dot3{
    width: 23%;
    right: -8%;
}
.dot4{
    width: 23%;
}

 } 
 @media (min-width: 851px)  and (max-width: 1200px) {
  #contact{
    height: auto;
    padding-top: 15%;
    background-size: 300px;
    background-position: 50% 100%;
  }
  .form {
    text-align: center;
    width: 50%;
    margin-bottom: 30%;
    padding: 5%;

  }
  .button-submit {
    width: 70%;
    margin: 5% auto;
  }
  .dot3{
    width: 23%;
}
.dot4{
    width: 23%;
}
.modal-success,
.modal-error  {
  /* padding-top: 50%; */
 font-size: 32px;
}
 }

 @media (min-width: 1000px)  and (max-width: 1200px) {

  .form {
    margin-bottom: 25%;

  }
  .dot3{
    width: 20%;
}
.dot4{
    width: 20%;
}
 }

 @media (min-width: 1201px)  and (max-width: 1400px) {
  #contact{
    height: auto;
    padding-top: 15%;
    background-size: 280px;
    background-position: 95% 65%;
  }
  .form {
    text-align: center;
    width: 45%;
    margin-bottom: 5%;
    padding: 5%;

  }
  .button-submit {
    width: 60%;
    margin: 5% auto;
  }
  .dot3{
    width: 18%;
}
.dot4{
    width: 18%;
}
 }
 
 @media (min-width: 1401px)  and (max-width: 1600px) {
  #contact{
    height: auto;
    padding-top: 15%;
    background-size: 350px;
    background-position: 95% 65%;
  }
  .form {
    text-align: center;
    width: 40%;
    margin-bottom: 5%;
    padding: 5%;

  }
  .button-submit {
    width: 60%;
    margin: 5% auto;
  }
  .dot3{
    width: 18%;
}
.dot4{
    width: 18%;
}
 }

 @media (min-width: 1601px)  and (max-width: 1800px) {

  .button-submit {
    width: 60%;
    margin: 5% auto;
    padding: 20px 25px;
  }
 }