#contact {
  position: relative;
  box-sizing: border-box;
  padding: 7% 10% 5% 20%;
  /* background-color : #f0f0f0; */

  border-image: fill 1
  linear-gradient(206deg, rgba(162, 181, 223, 0.8) 44%, rgb(81 141 237) 98%);
   background-image: url("../../img/image_processing20210903-8670-12c1naf.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: 490px;
  background-repeat: no-repeat;
  background-position: 80% 90%;
}

.text-messages {
  width: 50%;
  margin: 10% 5% 5% 0%;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 40px;
  font-style: italic;
  text-align: justify;
}
.text-message p {
  text-align: center;
}
.dot3 {
  position: absolute;
  width: 14%;
  top: -17%;
  right: -5%;
}
.dot4 {
  position: absolute;
  width: 14%;
  bottom: 3%;
  left: -5%;
}
.contact-content{
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.contact-content .socials {
  flex-direction: column;
  display: flex;
  align-items: center;

  }

  .contact-content  .tel{
 margin-bottom: 10%;
}


@media (min-width: 0px) and (max-width: 480px) {
  #contact {
    height: auto;
    padding: 10%;
    padding-top: 20%;
   
    background-image: none;
  }

  .contact-content {
    width: 100%;
    margin: 0;
  }
  .text-messages {
    padding: 0;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    width: 100%;
    text-align: center;
  }

  .dot3 {
    width: 30%;
    right: -20%;
  }
  .dot4 {
    width: 30%;
    left: -13%;
    bottom: 1%;
  }
  
  .contact-content  .tel{
    margin-bottom: 5%;
   }
   
}
@media (min-width: 481px) and (max-width: 576px) {
  #contact {
    height: auto;
    padding: 10%;
    padding-top: 20%;
    background-image: none;
  }

  .contact-content {
    width: 100%;
    margin: 0;
  }
  .text-messages {
    padding: 0;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    width: 100%;
    text-align: center;
  }
  .contact-content .socials {
    width: 100%;
    margin-top:  2%;
       }
  
  .contact-content  .tel{
    margin-bottom: 2%;
   }
  .dot3 {
    width: 30%;
    right: -20%;
  }
  .dot4 {
    width: 30%;
    left: -15%;
    bottom: 2%;
  }
}
@media (min-width: 577px) and (max-width: 850px) {
  #contact {
    height: auto;
    padding: 10%;
    padding-top: 15%;
   
    background-image: none;
  }

  .contact-content {
    width: 100%;
    margin: 0;
  }
  .text-messages {
    width: 90%;
    margin:  10% auto;
    margin-bottom: 2%;
    text-align: center;
  }

  .dot3 {
    width: 30%;
    right: -20%;
  }
  .dot4 {
    width: 30%;
    left: -20%;
    bottom: 1%;
  }
  .tel{
    padding: 4% 0;
  }
  .contact-content  .tel{
  margin-bottom: 0%;
   }
   .contact-content .socials {
width: 100%;
margin-top:  5%;
   }
}
@media (min-width: 851px) and (max-width: 1200px) {
  #contact {
    height: auto;
    padding-top: 15%;
    background-image: none;
  }

  .contact-content {
    width: 100%;
    margin: 0;
  }
  .text-messages {
    width: 90%;
    margin:  10% auto;
    margin-bottom: 2%;
    text-align: center;
  }

  .contact-content .socials {
    width: 100%;
    margin-top:  5%;
       }
  .dot3 {
    width: 23%;
  }
  .dot4 {
    width: 23%;
  }

}

@media (min-width: 1000px) and (max-width: 1200px) {
  .dot3 {
    width: 20%;
  }
  .dot4 {
    width: 20%;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  #contact {
    height: auto;
    padding-top: 15%;
    background-size: 350px;
    background-position: 80% 75%;
  }
  .dot3 {
    width: 18%;
  }
  .dot4 {
    width: 18%;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  #contact {
    height: auto;
    padding-top: 10%;
    background-size: 380px;
    background-position: 80% 75%;
  }

}
