.screen-main {
  border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.119), #000000d5);
  background: url("../../img/IMG_20191023_185340_081.jpg") no-repeat center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  color: white;
}
.container-screen-main {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.info-lef {
  width: 50%;
}

.myCV {
  text-align: center;
  border: none;
  background: linear-gradient(
    -20deg,
    rgba(162, 181, 223, 1) 22%,
    rgb(81 141 237) 100%
  );
  text-transform: uppercase;
  padding: 18px 30px;
  width: 20%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px;
}

.myCV-text {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #0b0b0b;
  display: inline-block;
}
.myCV:hover {
  background: #2e73e3dc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.info-left {
  font-family: "Lato", sans-serif;
  text-align: start;
  top: 25%;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 7%;
}
.main-text {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 6%;
}
.prof {
  color: #909090;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10%;
}

@media (min-width: 0px) and (max-width: 480px) {
  .container-screen-main {
    width: 90%;
  }

  .myCV {
    width: 45%;
    margin-bottom: 15%;
    padding: 10px 20px;
  }
  .myCV-text {
    font-size: 18px;
  }
  .info-left {
    top: 48%;
    position: relative;
  }
  .info-left h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 5%;
  }
  .info-left h3 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 5%;
  }
  .prof {
    font-size: 23px;
  }
}
@media (min-width: 481px) and (max-width: 576px) {
  .myCV {
    width: 60%;
    margin-bottom: 15%;
  }
  .info-left {
    top: 60%;
  }
  .prof {
    font-size: 25px;
  }
  .info-left h1 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 7%;
  }
  .info-left h3 {
    font-size: 35px;
  }
}

@media (min-width: 577px) and (max-width: 620px) {
  .myCV {
    width: 60%;
    margin-bottom: 15%;
  }
  .info-left {
    top: 60%;
  }

  .info-left {
    top: 60%;
  }
  .info-left h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 4%;
  }
  .info-left h3 {
    font-size: 38px;
    margin-bottom: 4%;
  }
  .info-left p {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 8%;
  }
  .info-left .social {
    margin: 0 3%;
  }
  .social-items {
    width: 100%;
  }
}
@media (min-width: 621px) and (max-width: 768px) {
  .myCV {
    width: 60%;
    margin-bottom: 15%;
  }
  .info-left {
    top: 60%;
  }
  .info-left h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 3%;
  }
  .info-left h3 {
    font-size: 38px;
    margin-bottom: 3%;
  }
  .info-left p {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 7%;
  }
  .info-left .social {
    margin: 0 3%;
  }
  .social-items {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .myCV {
    width: 60%;
    margin-bottom: 15%;
  }
  .info-left {
    top: 55%;
  }
  .info-left h1 {
    font-size: 55px;
  }
  .info-left h3 {
    font-size: 35px;
  }
  .info-left p {
    font-size: 25px;
  }
}
